/* 亮色主题 */
.card-header-themed {
  background-color: #1677ff;
  color: white;
  transition: background-color 0.2s;
}

/* 暗黑主题 */
.dark .card-header-themed {
  background-color:  rgba(0,0,0,0.4);
  color: white;
}
